{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store Status</title>
</head>

<body>
    <div class="container">
      <div class="jumbotron bg-primary rounded-pill text-white text-center">
        <h1 class="display-4">Rack Status Dashboard</h1>
          {%if store%}
              <p class="lead"> <strong>{{ store.company.name }}</strong> - {{ store.name }} dashboard displaying the status of stores.</p>
          {%else%}
              <p class="lead"> No store selected</p>
          {%endif%}
      </div>
      <ul>
      {% for rack in store.rack_set.all%}
        <li>{{rack.name}}</li>

      {%endfor%}
      </ul>
  </div>

</body>

</html>
